[submodule "bio-cwl-tools-submodule"]
	path = bio-cwl-tools-submodule
	url = git@github.com:truwl/bio-cwl-tools.git
[submodule "cwl-ngs-workflows-cbb"]
	path = cwl-ngs-workflows-cbb
	url = git@github.com:truwl/cwl-ngs-workflows-cbb.git
[submodule "ebi-metagenomics-cwl"]
	path = ebi-metagenomics-cwl
	url = git@github.com:truwl/ebi-metagenomics-cwl.git
[submodule "d3b-research-workflows"]
	path = d3b-research-workflows
	url = git@github.com:truwl/d3b-research-workflows
[submodule "wustl"]
	path = wustl
	url = git@github.com:truwl/analysis-workflows/
[submodule "arvados-mrsa"]
	path = arvados-mrsa
	url = git@github.com:truwl/arvados-mrsa.git
[submodule "janis-pipelines"]
	path = janis-pipelines
	url = git@github.com:truwl/janis-pipelines.git
[submodule "MG-RAST"]
	path = MG-RAST
	url = git@github.com:truwl/MG-RAST.git
[submodule "EBI-Elixir"]
	path = EBI-Elixir
	url = git@github.com:truwl/EBI-Elixir.git
[submodule "VIRTUS"]
	path = VIRTUS
	url = git@github.com:truwl/VIRTUS.git
