[submodule "bio-cwl-tools-submodule"]
	path = bio-cwl-tools-submodule
	url = https://github.com/truwl/bio-cwl-tools.git
[submodule "cwl-ngs-workflows-cbb"]
	path = cwl-ngs-workflows-cbb
	url = git@github.com:truwl/cwl-ngs-workflows-cbb.git
[submodule "ebi-metagenomics-cwl"]
	path = ebi-metagenomics-cwl
	url = git@github.com:truwl/ebi-metagenomics-cwl.git
[submodule "d3b-research-workflows"]
	path = d3b-research-workflows
	url = https://github.com/truwl/d3b-research-workflows
[submodule "wustl"]
	path = wustl
	url = https://github.com/truwl/analysis-workflows/
